{
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:testing-library/react",
    "plugin:react-hooks/recommended",
    "plugin:cypress/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": "node",
      "webpack": "webpack"
    }
  },
  "plugins": ["react", "jest", "testing-library"],
  "rules": {
    "no-var": "error"
  },
  "overrides": [
    {
      "files": ["**/__tests__/**/*.js"],
      "extends": ["plugin:testing-library/react"]
    },
    {
      "files": ["cypress/integration/**/*.js"],
      "rules": {
        "jest/expect-expect": "off"
      }
    }
  ]
}
